body {
    background: #edebec;
}
main {
    width: 600px;
    margin: 0 auto;
    color: #edebec;
}

.header p {
    font-size: 26px;
    font-weight: bold;
    color: #fee032;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px
}

.counter {
    width: 100%;
    height: 650px;
    border-radius: 10px;
    background: #212322;
    -webkit-box-shadow: 2px 2px 1px (0,0,0,0.5);
            box-shadow: 2px 2px 1px (0,0,0,0.5);
}

.inputForms {
    width: 580px;
    margin: 0 15px 0 12px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.form-control {
    margin: 0 15px;
}

#tabs {
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 5px;
}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: block;
}


#tabs .tabContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

#tabs .tab {
    background: #212322;
    width: 290px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#tabs .border {
    background: #212322;
    border: 1px solid gray!important;
    border-bottom: #5b5b5a!important;
}

#tabs .content {
    width: 600px;
    margin: 0 auto;
    position: relative;
    margin-left: 0;
}


#tabs .fillness {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}


.setSizeOfPaper p, .setTypeOfPaper p, .setFill p, .standart p{
    font-size: 16px;
    color: #d4d4d4;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 0;
}

.setTypeOfPaper {
    margin-top: 30px;
    width: 600px;
}

.setFill {
    margin-top: 85px;
    width: 600px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.setQuantity p {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px 0 0 10px;

}

.setQuantity {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    margin-left: -19px;
}

#selectStandartPaper {
    margin-bottom: 86px;
}

#numberOf {
    width: 150px;
    height: 40px;
    margin-top: -8px;
}

.colorAndQuantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
}

#submitButton {
    width: 250px;
    height: 45px;
    margin-left: 175px;
    background: #fee032;
    color: #212322;
    font-size: 24px;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 450px;

}

#price {
    width: 250px;
    height: 45px;
    border: none;
    margin-left: 175px;
    text-align: center;
    background: #2c2d2c;
    color: #fee032;
    font-size: 36px;
    font-weight: bold;
    padding: 5px 0;
    position: absolute;
    top: 520px;
}


/*Radiobuttons*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0 0 0 22px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.colorAndQuantity .container {
    width: 140px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #fee032;
}

/* Create the inpicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


select .nice-select .wide1 .open option {
    color: #3b4757;
}

.current, .option {
    color: #3b4757;
}
